body {
    font-family: Arial;
    margin: 20px;
    background: #f7f7f7;
}

input, textarea, select {
    width: 80%;
    padding: 10px;
    margin: 8px;
}

button {
    padding: 10px 18px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

div {
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 6px;
}

